<% include ../partials/header.ejs %>
<hr class="featurette-divider mb-4">
<div class="container">
 <header class="mb-2 pb-2 ">
<h2 class="text-dark text-center"><%=translation.eqHeader%></h2>
<p class="text-center"><%=translation.eqText%></p>
</header>
<hr>
<section id="equipment">
    <article class="row">
        
            <div class="eqdesc col-md-7">
                <h4>
                    Leica DS2000
                </h4>
                <p><%=translation.ds2000p1%></p>
                <p><%=translation.ds2000p2%></p>
            </div>
            <div class="eqimg col-md-5"><img class="img-fluid" src="../../images/eq/ds2000.jpg" alt="Leica DS2000"></div>
    </article>
    <hr>
    <article class="row">
        <div class="eqimg col-md-5"><img class="img-fluid" src="../../images/eq/ultra.png" alt="Leica Ultra"></div>
        <div class="eqdesc col-md-7">
                <h4 class="text-right">
                    Leica Ultra
                </h4>
                <h6><%=translation.ultrah1%></h6>
                <p><%=translation.ultrap1%></p>
                <h6><%=translation.ultrah2%></h6>
                <p><%=translation.ultrap2%></p>
                <h6><%=translation.ultrah3%></h6> 
                <p><%=translation.ultrap3%></p>
                <h6><%=translation.ultrah4%></h6>
                <p><%=translation.ultrap4%></p>
                <h6><%=translation.ultrah5%></h6>
                <p><%=translation.ultrap5%></p>
            </div>
    </article>
</section>
</div>


<% include ../partials/footer.ejs %>