<% include ../partials/header.ejs %>
<hr class="featurette-divider mb-4">
<div class="container">
    <header class="mb-2 pb-2 ">
        <h2 class="text-dark text-center"><%=translation.offerHeader%></h2>
        <p><%=translation.offerp1%></p>
        <p><%=translation.offerp2%></p>
        <p><%=translation.offerp3%></p>
    </header>
        <hr>
    <div class="card-group">
            <div class="card text-white bg-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title text-center"><%=translation.offerT1header%></h4>
                            <ul>
                                    <li><%=translation.offerT1p1%></li>
                                    <li><%=translation.offerT1p2%></li>
                                    <li><%=translation.offerT1p3%></li>
                            </ul>
                    </div>
                </div>
        <div class="card bg-light mb-3" >
                <div class="card-body">
                    <h4 class="card-title text-center"><%=translation.offerT2header%></h4>
                    <ul>
                        <li><%=translation.offerT2p1%></li>
                        <li><%=translation.offerT2p2%></li>
                        <li><%=translation.offerT2p3%></li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="card-group">
        <div class="card bg-light mb-3" >
            <div class="card-body">
                <h4 class="card-title text-center"><%=translation.offerT3header%></h4>
                <ul>
                    <li><%=translation.offerT3p1%></li>
                    <li><%=translation.offerT3p2%></li>
                    <li><%=translation.offerT3p3%></li>
                </ul>
            </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title text-center"><%=translation.offerT4header%></h4>
                    <ul>
                        <li><%=translation.offerT4p1%></li>
                        <li><%=translation.offerT4p2%></li>
                        <li><%=translation.offerT4p3%></li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="card-group">
            <div class="card text-white bg-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title text-center"><%=translation.offerT5header%></h4>
                        <ul>
                            <li><%=translation.offerT5p1%></li>
                            <li><%=translation.offerT5p2%></li>
                            <li><%=translation.offerT5p3%></li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h4 class="card-title text-center"><%=translation.offerT6header%></h4>
                            <ul>
                                <li><%=translation.offerT6p1%></li>
                                <li><%=translation.offerT6p2%></li>
                                <li><%=translation.offerT6p3%></li>
                            </ul>
                        </div>
                    </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
